@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Raleway&family=Roboto:wght@400;500&display=swap');
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  list-style: none;
  text-decoration: none;
  -ms-overflow-style: none;
}

body {
  width: 100vw;
  height: 100%;
  overscroll-behavior-y: none;
  overscroll-behavior-x: none;
  scrollbar-width: none;
  overflow: hidden;
  touch-action: none;
}
*::-webkit-scrollbar {
  display: none; /* Chrome , Safari , Opera */
}